/* styles-top.css */

/* 必要なスタイルを追加 */
#featured-issues,
#existingIssues {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.featured-issue-card, .other-issue-card {
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
    box-shadow: 0 2px 4px var(--color-shadow);
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.featured-issue-card:hover, .other-issue-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--color-shadow);
}
.featured-issue-card .issue-category {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 4px 8px; /* パディングを縮小 */
    border-radius: var(--border-radius);
    font-size: 0.7em; /* フォントサイズを縮小 */
    margin-bottom: 8px; /* マージンを縮小 */
    display: inline-block;
}
.other-issue-card .issue-category {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 4px 8px; /* パディングを縮小 */
    border-radius: var(--border-radius);
    font-size: 0.7em; /* フォントサイズを縮小 */
    margin-bottom: 8px; /* マージンを縮小 */
    display: inline-block;
}